<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Outdoor Consultancy Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="breadcrumb-item active">Manage User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button data-toggle="modal" data-target="#modal-edit-insert" type="button"
                                class="btn btn-block btn-info btn-xs card-title bg-navy"
                                style="width: 120px;">Add Outdooor Patient</button>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                        placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10;">#</th>

                                        <th>Doctor Name</th>
                                        <th class="text-center">Serial No</th>
                                        <th>Entry Date</th>
                                        <th>Patient Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Prescription</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Testifications</th>
                                        <th class="text-center" style="width:40px">Action</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of itemList; let ndx = index">
                                        <td>{{ndx + 1}}</td>
                                        <td>{{item.doctorName}}</td>
                                        <!-- <td>{{item.doctorName}}</td> -->
                                        <td>{{item.serialNo}}</td>
                                        <td>{{item.entryDate}}</td>
                                        <td>{{item.patientName}}</td>
                                        <td>{{item.gender}}</td>
                                        <td>{{item.age}}</td>
                                        <td>{{item.prescription}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.testifications}}</td>
                                       
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <div class="dropdown">
                                                    <a class="btn btn-info btn-xs bg-navy dropdown-toggle" href="#"
                                                        role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-expanded="false">
                                                        Action
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <li><a class="dropdown-item" (click)="pupulateForm(item)"
                                                                data-toggle="modal"
                                                                data-target="#modal-edit-insert">Edit</a></li>
                                                        <li><a class="dropdown-item"
                                                                (click)="onDelete(item.outDoorId)">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>


        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modal-edit-insert" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h4 class="modal-title">Outdoor Consultancy Information</h4>
                <button type="button" #closebutton class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="clearForm()">×</span>
                </button>
            </div>
            <form [formGroup]="outdoorConsultancyForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <input type="hidden" formControlName="outDoorId">
                    <input type="hidden" formControlName="serialNo">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Doctor Name</label>
                                <select formControlName="doctorId" class="form-control">
                                    <option value="" disabled>Choose Doctor Name</option>
                                    <option *ngFor="let doctor of doctorList" [ngValue]="doctor.doctorId">
                                        {{doctor.doctorName}}</option>
                                </select>
                                <span *ngIf="doctorId?.invalid  && formSubmitAttempt || doctorId?.invalid  && doctorId?.touched"
                                class="error invalid-message">Please enter doctor 
                                Name.</span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6"> -->
                            <!-- <div class="form-group">
                                <label>Serial No</label>
                                <input type="number" class="form-control" formControlName="serialNo">
                                <span *ngIf="serialNo?.invalid && serialNo?.touched"
                                    class="error invalid-message">Please enter serial No.</span>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Doctor Visit Date</label>
                                <input type="date" class="form-control" formControlName="entryDate">
                                <span *ngIf="entryDate?.invalid && formSubmitAttempt || entryDate?.invalid && entryDate?.touched"
                                    class="error invalid-message">Please enter entry
                                    Date.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Patient Name </label>
                                <input type="text" class="form-control" formControlName="patientName">
                                <span *ngIf="patientName?.invalid && formSubmitAttempt || patientName?.invalid && patientName?.touched"
                                    class="error invalid-message">Please enter Patient
                                    Name.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Gender</label>
                                <!-- <input type="text" class="form-control" formControlName="gender"> -->
                                <select formControlName="gender" class="form-control">
                                    <option value="" disabled>Choose Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                                <span *ngIf="gender?.invalid && formSubmitAttempt || gender?.invalid && gender?.touched" class="error invalid-message">Please
                                    enter gender.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Age</label>
                                <input type="number" class="form-control" formControlName="age">
                                <span *ngIf="age?.invalid && formSubmitAttempt || age?.invalid && age?.touched" class="error invalid-message">Please enter
                                    age.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" formControlName="address">
                                <span *ngIf="address?.invalid && formSubmitAttempt || address?.invalid && address?.touched" class="error invalid-message">Please
                                    enter address.</span>
                            </div>
                          
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone </label>
                                <input type="text" class="form-control" formControlName="phone">
                                <span *ngIf="phone?.invalid && formSubmitAttempt || phone?.invalid && phone?.touched" class="error invalid-message">Please
                                    enter Phone.</span>
                            </div>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Prescription</label>
                                <textarea class="form-control" rows="5" placeholder="write here"
                                formControlName="prescription"  ></textarea>
                                <span *ngIf="prescription?.invalid && formSubmitAttempt || prescription?.invalid && prescription?.touched" class="error invalid-message">Please
                                    enter Phone.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Testifications </label>
                                <textarea class="form-control" rows="5" placeholder="write here"
                                formControlName="testifications"  ></textarea>
                                <span *ngIf="testifications?.invalid && formSubmitAttempt || testifications?.invalid && testifications?.touched" class="error invalid-message">Please
                                    enter Phone.</span>
                            </div>
                        </div>
                    </div>
                    

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearForm()">Close</button>
                    <button type="submit" class="btn btn-primary bg-navy"  >Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>