<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Beekites</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">SOHAN</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a routerLink="" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-plus-square"></i>
                        <p>
                            Hospital Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Master Table
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/doctor-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-user-md nav-icon"></i>
                                        <p>Doctor's Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/test-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-vial nav-icon"></i>
                                        <p>Test Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/cabin-and-ward" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-bed nav-icon"></i>
                                        <p>Cabin and Ward </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Work Table
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="/doctor-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-user-md nav-icon"></i>
                                        <p>Doctor's Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/test-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-vial nav-icon"></i>
                                        <p>Test Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/patient-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-user-injured nav-icon"></i>
                                        <p>Patient Information</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/patient-admission" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-hospital-user nav-icon"></i>
                                        <p>Patient Admission</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/appointment-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-book-medical nav-icon"></i>
                                        <p>Patient Appointment</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/outdoorConsultancy-info" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-hospital-alt nav-icon"></i>
                                        <p>OutDoor Consultancy</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/patient-medicine" routerLinkActive="active" class="nav-link">
                                        <i class="fas fa-pills nav-icon"></i>
                                        <p>Patient Medicine</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a routerLink="/investigation" routerLinkActive="active" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Investigation</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            HR Management
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/department-designation" routerLinkActive="active" class="nav-link">

                                <i class="fas fa-building nav-icon"></i>

                                <p>Department & Designation </p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/employee" routerLinkActive="active" class="nav-link">

                                <i class="fas fa-building nav-icon"></i>

                                <p>Employee </p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/employeeList" routerLinkActive="active" class="nav-link">

                                <i class="fas fa-building nav-icon"></i>

                                <p>Employee List </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Logistics
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/supplier" routerLinkActive="active" class="nav-link">

                                <i class="fas fa-building nav-icon"></i>

                                <p>Supplier</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/category" routerLinkActive="active" class="nav-link">
                                <i class="fas fa-building nav-icon"></i>
                                <p>Category </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/product" routerLinkActive="active" class="nav-link">
                                <i class="fas fa-building nav-icon"></i>
                                <p>Medicine</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/order" routerLinkActive="active" class="nav-link">
                                <i class="fas fa-building nav-icon"></i>
                                <p>Order </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Manage Account
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="/manage-role" routerLinkActive="active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manage Role</p>
                            </a>
                            <li class="nav-item">
                                <a routerLink="/manage-user" routerLinkActive="active" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Manage User</p>
                                </a>
                            </li>
                    </ul>
                    </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>