<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cabin And Ward Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">Home</a></li>
                        <li class="breadcrumb-item active">Manage User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <app-cabin-info class="col-12"></app-cabin-info>
            </div>
            <div class="row">
                <app-ward-info class="col-12"></app-ward-info>
            </div>
            <div class="row">
                <app-cabin-type-info class="col-6"></app-cabin-type-info>

                <app-bed-info class="col-6"></app-bed-info>
            </div>
           

        </div>
    </section>
    <!-- /.content -->
</div>
